{% extends "./base.html" %}
{% block content %}
{% load static %}
<script src="{% static '../static/js/exercise.js' %}" defer></script>
{{ shows|json_script }}
<div id="calender" style="margin:0%;">
    <div style="float: left;width:100%;margin:0%;margin-bottom:5px;margin-top:5px;">
        <p style="font-family:Inter;font-size:48px;margin:0%;padding-left:2%;">{{ month }}</p>
    </div>
    <div style="display:flex;width:100%;">
        {% for day, date in days.items %}
        {% if day == today_day %}
        <div id={{ day }} class="cal-div cal-highlight" onclick="cal_click(this.id);" style="cursor: pointer;flex-grow:1;padding: .5em;border:1px solid #808080;border-top:0px;text-align:center;">
            <p style="font-size:28px;margin:0%;margin-top:2%;">{{ day }}</p><p style="font-family:Inter;font-size:28px;margin:0%;margin-bottom:2%;">{{ date }}</p>
        </div>
        {% else %}
        <div id={{ day }} class="cal-div" onclick="cal_click(this.id);" style="cursor: pointer;flex-grow:1;padding: .5em;border:1px solid #808080;border-top:0px;text-align:center;">
            <p style="font-size:28px;margin:0%;margin-top:2%;">{{ day }}</p><p style="font-family:Inter;font-size:28px;margin:0%;margin-bottom:2%;">{{ date }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="no-video" style="text-align: center;"><p style="font-size:28px;margin:13%;">No workout for today!</p></div>
<div class="video-container" style="margin-top:3%;margin-bottom:3%;margin-left:5%;">
    <iframe src="https://www.youtube.com/embed/H2U3HwAyBXg"></iframe>
</div>
<div class="workout-tab" style="float:left;margin-top:3%;margin-bottom:3%;margin-left:5%;width:25%">
    <div style="display:flex;flex-direction: column;">
        <div style="flex-grow:1;padding: .5em;background-color:#A5F739;border:1px solid #808080;;text-align:center;">
            <p style="font-family:Inter;font-size:28px;margin:0%;margin-top:2%;">Exercise 1</p>
        </div>
        <div style="flex-grow:1;padding: .5em;background-color:#8DCC3A;border:1px solid #808080;border-top: 0px;text-align:center;">
            <p style="font-family:Inter;font-size:28px;margin:0%;">Exercise 2</p>
        </div>
        <div style="flex-grow:1;padding: .5em;background-color:#8DCC3A;border: 1px solid #808080;text-align:center;">
            <p style="font-family:Inter;font-size:28px;margin:0%;">Exercise 3</p>
        </div>
        <div style="flex-grow:1;padding: .5em;background-color:#8DCC3A;border:1px solid #808080;border-top: 0px;text-align:center;">
            <p style="font-family:Inter;font-size:28px;margin:0%;">Exercise 4</p>
        </div>
        <form method="post" action="{% url 'mark-complete' %}">
            {% csrf_token %}
            <button id="mark-complete-button" type="submit"></button>
        </form>
</div>
</div>
{% endblock %}