<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <!-- static stylesheet CSS -->
        <link rel="stylesheet" type="text/css" href="../static/css/landing.css">
        <!-- base url -->
        <base href="http://127.0.0.1:8000/">
    </head>
<body style="background: url('{% static "websiteImages/stock-photo-athletic-young-couple-doing-abs.jpg"%}');background-position: bottom;">
        {% block content %}
        {% endblock content %}
    <div class="footer-div">
        <p class="footer-items"><a id="footer-items-link" href="../legal/">LEGAL:</a></p>
        <p class="footer-items"><a id="footer-items-link" href="../legal/">ABOUT US</a></p>
        <p class="footer-items"><a id="footer-items-link" href="../legal/">PRIVACY</a></p>
        <p class="footer-items"><a id="footer-items-link" href="../legal/">TERMS OF USE</a></p>
        <p class="footer-items" id="footer-items-link">&copy;2023ActiveDex</p>
    </div>
</body>
</html>