{% extends 'landing/base.html' %}
{% block content %}
<div class="content-div">
    <p id="title">ActiveDex</p>
    <p id="sub-title">Achieve your active life goals one step at a time</p>
    <div class="button-div">
        <button id="login-button" onclick="window.location.href='./login/'"><p class="button-text">Login</p></button>
        <button id="signup-button" onclick="window.location.href='./signup/'"><p class="button-text">Sign Up</p></button>
    </div>
</div>
{% endblock content %}