{% extends "./base.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div style="background-color: #C6E59C; width: 55%;padding-top: 2%;padding-bottom: 2%;padding-left:3%;margin-bottom: 18%;">
            <img src="{{ profile.profile_image.url }}" class="rounded-circle" width="100" height="100" />
            <h3 style="font-size: 26px;">@{{ profile.user }}</h3>
            {% if profile.name %}
            <p style="font-size: 18px;margin-bottom: 1%;">{{ profile.name }}</p>
            {% endif %}

            <p style="font-size: 18px;margin-bottom: 1%;">Current streak: {{ profile.current_streak }} days</p>
            <p style="font-size: 18px;margin-bottom: 0%;">Highest streak: {{ profile.highest_streak }} days</p>
            {% if user == request.user %}
            <a style="position:absolute;right:27%;top: 22%;" href="{% url 'settings' %}"><i class="fas fa-cog" style="font-size:40px;color:#111;margin:0%;padding: 0%;"></i></a>
            <a href="./logout/" style="margin-top: 2%;background-color: #D9534F;border:none;border-radius: 5px;color: #ffffff;text-decoration: none;" class="btn">Logout</a>
            {% else %}
            {% if is_following %}
            <div style="margin-top: 2%;">
                <form method="POST" action="{% url 'remove-follow' profile.pk %}">
                    {% csrf_token %}
                    <button style="background-color: #24A0ED;border:none;border-radius: 5px;color: #ffffff;" class="btn" type="submit">Unfollow</button>
                </form>
            </div>
            {% else %}
            <div style="margin-top: 2%;">
                <form method="POST" action="{% url 'follow' profile.pk %}">
                    {% csrf_token %}
                    <button style="background-color: #5CB85C;border:none;border-radius: 5px;color: #ffffff;" class="btn" type="submit">Follow</button>
                </form>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}